@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.line {
  border-top: 1px solid black;
  width: 100%;
  margin: 10px 0;
}

.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.App-custom {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.color-custom-bg{
  background-color: #42464d;
  color: white;
}

.App-header-custom {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.table-color-custom-bg {
  background-color: #6f757f;
  color: white;
}

.search-employee{
  border-radius: 10px;
  width: 670px;  
  background-color: #282c34;
  text-shadow: wheat;
}

.rounded-individual{
  border-radius: 15px;
  margin-top: 15px;
  color:transparent;
}

.custom-head-table th {
  background-color: #ca7200;
}

.custom-image-icon {
  width: 1px;
  height: 1px;
}
